body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
a{
	color: lightgrey;
	text-decoration: none;
	background-color: black;
	padding: 38.5px;
	display: inline-block;
}
.nav{
	background-color: black;
	height:100px;
}
a:hover{
	background-color: #ff7401;
}
h1{
	font-size: 50px;
}